fastapi
uvicorn[standard]
langchain
langchain-anthropic
langchain-community
langchain-huggingface
anthropic
python-dotenv
pydantic
chromadb
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
